body {
  margin: 0 auto;
  background-color: red;
  margin-top: 15%;
  width: 100vw;
}
.head {
  height: 300px;
  background-color: rgb(22, 36, 19);
  margin: auto;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
}
.head a {
  color: #fff;
  padding: 30px;
  text-decoration: none;
  border: 10px solid yellow;
  border-radius: 50%;
  margin: 10px;
  overflow: scroll;
}
.head a:hover {
  background-color: rgb(155, 74, 74);
  color: beige;
}
.head a:active {
  background-color: blue;
  color: red;
}
@media (max-width: 650px) {
  .head {
    margin-top: 20vh;
  }
  .head a {
    padding: 20px;
    border: 10px solid yellow;
    overflow: scroll;
    margin-top: 20px;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    margin: 10px;
  }
}
