body {
  background-color: #2e1c18;
  margin: 0 auto;
}
#head {
  height: 80px;
  background-color: #533261;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.down {
  background-color: azure;
  width: 50%;
  height: 50%;
}

.top {
  background-color: #8ddd86;
  width: 300px;
  padding: 10px;
}
.top-1 {
  background-color: #8ddd86;
  width: 300px;
  padding: 10px;
}
#main h1 {
  text-decoration: underline;
  display: inline;
  color: #fff;
}
.gandhi {
  width: 20%;
  height: 15%;
  border-radius: 50%;
  margin-top: 10px;
}
.heading {
  padding-left: 100px;
  padding-top: 15px;
}
.left {
  float: left;
  display: flex;
  align-self: center;
}
.beta {
  color: #fff;
  margin-top: 30px;
  margin-left: 12px;
}
.right {
  float: right;
  display: flex;
}
.right a {
  padding: 10px;
  color: #fff;
}
.nav-name {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
.nav-name:hover {
  background-color: black;
}
.sub-body {
  background-color: #d2d9e9;
  height: 250px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.down-body {
  background-color: #b94142;
  height: 250px;
  margin: 0px 15px 15px 15px;
  padding: 15px;
  border: 15px solid #349a2d;
}
nav {
  margin-top: 20px;
}
@media only screen and (max-width: 650px) {
  .right {
    display: none;
  }
  .top {
    width: 100%;
    margin: -2px;
    padding: 0;
  }
  .top-1 {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
  .sub-body {
    width: 100vw;
    height: 65vh;
    background-color: rgb(229, 232, 235);
    border: 10px;
    margin-top: 15px;
  }
  .down-body {
    width: 90vw;
  }
}
