body {
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  padding: 0 auto;
}
.header {
  width: 100%;
  height: 85px;
  background-color: #625c5c;
  border-bottom: 0.5px solid #fff;
}
.main {
  height: calc(100vh-80px);
  position: relative;
  overflow: hidden;
}
#sidebar {
  width: 200px;
  height: 100vh;
  background-color: #625c5c;
  float: left;
}
#container > h2 {
  color: black;
  text-decoration: underline;
  margin: 0;
  margin-bottom: 20px;
}
#container {
  padding: 15px 0 15px 15px;

  overflow: hidden;
  width: calc(100vh-300px);
}
#tile-container {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
}
.tile {
  width: calc(((100%) / 4) - 15px);
  height: 150px;
  float: left;
  margin-right: 15px;
}
.tile > p.text {
  justify-content: center;
  text-align: center;
}
.box {
  background-color: #06ce83;
}
.box-a {
  background-color: #a25aff;
}
.box-b {
  background-color: #f24e1d;
}
.box-c {
  background-color: #1cbcfd;
}
.tile {
  width: calc(((100%) / 4) - 15px);
  height: 150px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
.rof {
  height: 50px;
  width: 50px;
  float: right;
  border-radius: 50%;
  margin-top: -53px;
}
.prof {
  height: 39px;
  width: 37px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}
.figma {
  margin-top: 0px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  padding-top: 19px;
  margin-left: 50px;
  color: #fff;
}
.circle,
.chart {
  width: calc(((100%) / 4) - 15px);
  height: 307.3px;
  float: left;
  margin-right: 15px;
}
.circle,
.inner-circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.on {
  width: 70%;
  height: 70%;
}
.second {
  width: 90%;
  height: 90%;
  background-color: white;
}
.th {
  width: 40%;
  height: 40%;
}
.on,
.thre h2 {
  color: white;
}
.fourth {
  width: 90%;
  height: 90%;
  background-color: #ff7163;
}
.bar {
  width: 15px;
  position: absolute;
}
.chart {
  position: relative;
  display: block;
}
.chart div {
  bottom: 0;
}
.one {
  left: 0;
  height: calc(100% - 30px);
}
.two {
  left: 45px;
  height: calc(100% - 150px);
}
.three {
  left: 90px;
  height: calc(100% - 120px);
}
.four {
  left: 135px;
  height: calc(100% - 210px);
}
.five {
  left: 180px;
  height: calc(100% - 80px);
}
.six {
  left: 225px;
  height: calc(100% - 240px);
}
.line {
  width: 100%;
  height: 15px;
  background-color: #5f595b;
  position: absolute;
}
#sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 30px 10px 30px;
}
#sidebar nav a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
  margin-left: 20px;
}
#sidebar nav a.active {
  color: #4ba484;
  text-decoration: none;
}
#sidebar nav a:first-child {
  padding-top: 0;
}
.grey-bg {
  background-color: #625e5f;
}
.orange-bg {
  background-color: #ff6e61;
}
